/* Estilos generales */
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
}
section{
    padding: 2.5em 0;
}
body section:last-child{
    padding-bottom: 0;
}
h1{
    font-size: 2.6em;
    font-weight: 600;
}
h3{
    font-size: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
    color: #98979A;
}
p{
    line-height: 2em;
}
.color-primario--purpura{
    color: #6D2CD3;
}
.color-secundario--azul{
    color: #3B92FE;
}
.color-gris--1{
    color: #343338;
}
.color-gris--2{
    color: #666469;
}
.color-gris--3{
    color: #98979A;
}
#button{
    display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 30px;
    transition: opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after{
    content: "\f106";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 3em;
    line-height: 50px;
    color: #333;
}
#button:hover{
    cursor: pointer;
}
#button.show{
    opacity: 1;
    visibility: visible;
}

/* Estilos Header */
header .navbar{
    padding: 1rem 4rem;
}
header .navbar .virtus-logo{
    background: url(../img/virtus-logo.png);
    background-size: cover;
    width: 170px;
    height: 67px;
}
header .navbar .navbar-nav .nav-item{
    margin-right: 15px;
}
header .navbar .navbar-nav .nav-item .nav-link{
    color: #09070D;
    transition: 0.3s;
}
header .navbar .navbar-nav .nav-item .nav-link:hover{
    color: #6D2CD3;
}

/* Estilos Inicio */
.carousel .carousel-indicators li{
    background: rgba(109, 44, 211, 0.5);
}
.carousel .carousel-indicators .active{
    background: rgba(109, 44, 211);
}
.carousel .carousel-inner .carousel-item .carousel-caption{
    background: rgba(155, 155, 155, 0.7);
    width: 50%;
    height: 50%;
    left: 0;
    top: 25%;
    padding: 0 3em;
}
.carousel .carousel-inner .carousel-item .carousel-caption--right{
    left: unset;
    right: 0;
}
.carousel .carousel-inner .carousel-item .carousel-caption{
    display: flex !important;
}
.carousel .carousel-inner .carousel-item .carousel-caption h5{
    font-size: 2.5em;
    font-weight: 600;
    align-self: center;
}

/* Estilos Servicios */
.card-deck{
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: .5rem;
}
.card-deck .card .card-img-top{
    width: 50%;
    align-self: center;
}
.card-deck .card .card-body .card-title{
    font-size: 1.2em;
    font-weight: 600;
}
.card-deck .card .card-body .card-text{
    font-size: 0.9em;
}

/* Estilos Principios */
.principios .principios__titulo{
    background: url(../img/img-principios.jpg) 0 0 no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    font-size: 3.5em;
    font-weight: 600;
    padding: 2em 5em;
    margin-bottom: 20px;
}
.principios .card-deck .card .card-img-top{
    width: 30%;
}

/* Estilos Equipo */
.section-equipo{
    padding-bottom: 0;
}
.equipo .equipo__titulo{
    background: url(../img/img-equipo.jpg) 0 0 no-repeat;
    background-size: cover;
}
.equipo .equipo__titulo h1{
    background: rgba(0, 0, 05, 0.3);
    text-align: center;
    color: #ffffff;
    font-size: 3.5em;
    font-weight: 600;
    padding: 4em 3em;
    margin-bottom: 0;
}
.equipo .equipo__perfiles{
    padding: 2em 5em 0;
}
.equipo .equipo__perfiles .d-flex{
    margin-bottom: 25px;
}
.equipo .equipo__perfiles img{
    width: 10%;
}
.equipo .equipo__perfiles span{
    font-size: 1.3em;
    margin-left: 15px;
}

/* Responsive */
@media (max-width: 1199.98px) {
    header .navbar{
        padding: 0.5rem 1rem;
    }
    .carousel .carousel-inner .carousel-item .carousel-caption h5{
        font-size: 1.8em;
    }
    .card-deck{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        gap: .5em;
    }
    .principios .principios__titulo{
        padding: 1.5em 3em;
    }
    .equipo .equipo__titulo h1{
        padding: 2em 1em;
    }
}
@media (max-width: 991.98px) {
    section{
        padding: 1.5em 0;
    }
    .carousel .carousel-inner .carousel-item .carousel-caption{
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .carousel .carousel-inner .carousel-item .carousel-caption h5{
        font-size: 1.5em;
    }
    .principios .principios__titulo{
        font-size: 2em;
    }
    .card-deck .card .card-img-top{
        width: 30%;
    }
}
@media (max-width: 767.98px) {
    h1{
        font-size: 2.2em;
    }
    h3{
        font-size: 1.2em;
    }
    #button{
        bottom: 5px;
        right: 10px;
    }
    header .navbar .virtus-logo{
        background-size: no-repeat;
        width: 67px;
    }
    .carousel .carousel-inner .carousel-item .carousel-caption{
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .carousel .carousel-inner .carousel-item .carousel-caption h5{
        font-size: 1.3em;
    }
    .principios .card-deck .card .card-img-top{
        width: 20%;
    }
    .equipo .equipo__titulo h1{
        font-size: 2em;
    }
    .equipo .equipo__perfiles{
        padding: 2em 2em 0;
    }
}